[Unit]
Description=Docker RBD volume driver
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/bin/docker-volume-rdb
ExecStop=/bin/kill -15 $(ps -eo pid,comm | awk '/docker-volume-r$/  {print $1; exit}')
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target